<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PlanetAccessApp.Properties.Settings.SecureCoreG6ConnectionString"
            connectionString="Data Source=sqlserver.S2AM.sdslab.cat;Initial Catalog=SecureCoreG6;Persist Security Info=True;User ID=G6;Password=12345aAG62324."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>